.DS_Store
.idea
/backup/*
/post-mortem/*
/dump/*
/conception/*
env.*

!/live.bkk.de/
/live.bkk.de/*
!/live.bkk.de/web/
/live.bkk.de/web/*
!/live.bkk.de/web/typo3conf/
/live.bkk.de/web/typo3conf/*
!/live.bkk.de/web/typo3conf/AdditionalConfiguration.php
!/live.bkk.de/web/typo3conf/LocalConfiguration.php
!/live.bkk.de/web/typo3conf/PackageStates.php

/tmp