.DS_Store
.idea
/backup/*
/post-mortem/*
/dump/*
/conception/*
env.*

!/app/
/app/*
!/app/web/
/app/web/*
!/app/web/typo3conf/
/app/web/typo3conf/*
!/app/web/typo3conf/AdditionalConfiguration.php
!/app/web/typo3conf/LocalConfiguration.php
!/app/web/typo3conf/PackageStates.php

/docker-compose.yml
/tmp
